* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 100dvh;
}

.container_game {
  width: 30dvw;
  height: 40dvh;

  border: 1px solid black;
  border-radius: 10px;

  background-color: rgb(243, 185, 164);

  position: relative;
}

.circle {
  transition: transform 0.1s linear;
  will-change: transform;
}
.circle:focus {
  opacity: 0.1;
  transition: opacity 0.2s linear;
}

.circle_good {
  width:30px;
  height:30px;
  border-radius: 50%;
  background: #07c45c;
  position: absolute;
  cursor: pointer;
}

.circle_bad {
  width:35px;
  height:35px;
  border-radius: 50%;
  background: #c40707;
  position: absolute;
  cursor: pointer;
  z-index: 10;
}

.circle_time {
  width:20px;
  height:20px;
  border-radius: 50%;
  background: #0798c479;
  position: absolute;
  cursor: pointer;
}

.circle_kill {
  width:40px;
  height:40px;
  border-radius: 50%;
  background: #07a34d;
  position: absolute;
  cursor: pointer;
  z-index: 10;
}